@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.desc--title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #0088cc;
    margin-bottom: 1.5%;
}

.desc--section {
    margin-top: 7%;
    margin-left: 7%;
    margin-right: 7%;
}

.desc--desc {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}